body{
    width:100%;
    padding:0px;
    

}
html{
    widows: 99%;
    height: auto;
    align-content: center;

}

.blogheader{
 margin-bottom:0px;
     background:no-repeat center center;
     background-color:#868e96;
     background-attachment:scroll;
     position:relative;
     background-size:cover;
     height: 350px;
    
}
.blogcontent{
    width:100%;
    align-content: center;
    height: auto;
    background-color: #f3f3f3;
}
.blogcontent 

/* Responsive
-------------------------------------------------------------- */

/* Top Bar
-------------------------------------------------------------- */
#top-bar { position: relative; z-index: 1; }
#top-bar, #top-bar a { color: #999; }
#top-bar .top-bar-inner-wrap { display: table; width: 100%; padding: 12px 0px 13px 0px; }
#top-bar .top-bar-content { display: table-cell; width: 60%; text-align: left; vertical-align: middle; }
#top-bar .top-bar-socials { display: table-cell; width: 40%; text-align: right; vertical-align: middle; }

/* Top Bar Content */
#top-bar .top-bar-content .content { position: relative; display: inline-block; padding: 0px 17px 0px 21px ; margin: 0px 6px; }
#top-bar .top-bar-content .content:first-child { margin-left: 0px; }
#top-bar .top-bar-content .content:last-child { margin-right: 0px; }
#top-bar .top-bar-content .content:before { content: ""; position: absolute; font-family: "FontAwesome"; top: 0; left: 0; }
#top-bar .top-bar-content .content.address:before { content: "\f015"; }
#top-bar .top-bar-content .content.phone:before { content: "\f098"; }
#top-bar .top-bar-content .content.time:before { content: "\f017"; }
#top-bar .top-bar-content .content:after { content: ""; position: absolute; top: 50%; right: 0; width: 2px; height: 10px; background-color: #444; transform: translateY(-50%);  }
#top-bar .top-bar-content .content:last-child:after { width: 0px; height: 0px; background-color: transparent; }

/* Top Bar Socials*/
#top-bar .top-bar-socials .text { padding-right: 18px; }
#top-bar .top-bar-socials .icons a { display: inline-block; text-align: center; position: relative; padding: 0px 15.8px; }
#top-bar .top-bar-socials .icons a:before { content: ""; position: absolute; top: 50%; left: 0; width: 2px; height: 10px; background-color: #444; transform: translateY(-50%);  }
#top-bar .top-bar-socials .icons a:last-child { padding-right: 0px !important; }
#top-bar .top-bar-socials .icons a:hover { color: #ffc30c; }

.topbar-style-3 #top-bar { background-color: rgb(255,168,1);  }
.topbar-style-3 #top-bar,
.topbar-style-3 #top-bar a { color: rgba(255,255,255,0.7); }
.topbar-style-3 #top-bar .top-bar-inner-wrap { border-bottom: 1px solid rgba(255,255,255,0.15); }
.topbar-style-3 #top-bar .top-bar-content .content { padding: 0px 12px 0px 22px; margin: 0 4px; }
.topbar-style-3 #top-bar .top-bar-content .content:first-child { margin-left: 0px; }
.topbar-style-3 #top-bar .top-bar-socials .icons a:before,
.topbar-style-3 #top-bar .top-bar-content .content:after { background-color: rgba(126,121,122,0.7); }
.topbar-style-3 #top-bar .top-bar-socials .icons a { padding: 0px 10.5px; }
.topbar-style-3 #top-bar .top-bar-socials .text { padding-right: 10px; font-size: 13px; }

@media only screen and (max-width: 991px) {

#top-bar .top-bar-content,
	.switcher-container,
	.row-information{ display: none; }

	#top-bar .top-bar-socials { width: 100%; display: block; text-align: center; }
        
}

/*Nav bar collapse */

}

